*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: antiquewhite;
}
nav ul{
    height: 60px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
  list-style-type: none;

}
nav ul li{
    padding: 0 16px;
    font-size: larger;
}
#imge img{
    width: 60px;
    
}
#imge{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}
#imge span{

    font-size: 1.5rem;
}
#co{
    margin-left: 50%;
}
footer ul li i{
padding: 20px;
}
footer{
    height: 70px;
    background-color: black;
  margin-top: 50px;
}
#icon{
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
 

 }
 #icon i{
   
 
   font-size: 25px;
  margin-left: 40px;
    width: 18px;
    cursor: pointer;
   
 }

 #bar{
 
    width: 80%;
   accent-color: rgb(44, 117, 255);
    cursor: pointer;
 }
footer img{
   height: 70px;
   transition: ease-in;
   transition-duration: 1s;
   opacity: 0;
}

section{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
  color: white;
}
#main{
    height: 73vh;
    width: 70%;
    background-color: black;
    }
#kio{
    margin-left: 23.5%;
    border: none;
    height:100%;

    }
#all-songs{
    margin-left: 40px;
   position: relative;
   bottom: 500px;
}
.songs{
    font-size: 25px;

}
#all-songs i{
    margin-left: 10px;
}
.play {
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
}
.fwd{
    transition: ease-in-out;
}
#music{
    position: absolute;
    left: 240px;
}